@import "tailwindcss";
@plugin "daisyui";

html,
body {
  overflow-x: auto;
}

/* Custom button override */
.btn-primary {
  @apply relative flex items-center gap-2 
           bg-[#5751e1] text-white font-semibold 
           px-7 py-3 rounded-full 
           shadow-[4px_6px_0_#161439] 
           transition-all duration-300 ease-linear 
           hover:bg-[#ffc224] hover:text-black hover:shadow-none;
}

.btn-secondary {
  @apply relative flex items-center gap-2 
           bg-[#ffc224] text-black font-semibold 
           px-7 py-3 rounded-full 
           shadow-[4px_6px_0_#161439] 
           transition-all duration-300 ease-linear 
           hover:bg-[#5751e1] hover:text-white hover:shadow-none;
}

.bg-primary {
  @apply bg-[#141047];
}

.bg-secondary {
  @apply bg-[#ffc224];
}

.text-primary {
  @apply text-[#ffc224];
}

/* Hide scrollbar for all browsers */
/* .scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
} */
